:root {
  --system-fontSize-small: 18px;
  --system-fontSize-more: 20px;
  --system-fontSize-medium: 24px;
  --system-fontSize-large: 30px;
  --medium-fontSize-largeMore: 50px;
  --system-fontSize-jumbo: 70px;

  --system-fontWeight-medium: 400;
  --system-fontWeight-mediumBold: 600;
  --system-fontWeight-Bold: 700;
  
  --system-color-white: #FFFFFF;
  --system-color-dark-lilac: #141024;
  --system-color-red: #D52027;
  --system-color-gray: #141024B2
  --font-family: "Roboto", sans-serif;
}

